
<div id="main-display" class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1">

      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" *ngIf="account.user">
              <a class="nav-link" routerLink="/chat">Chat</a>
            </li>
          </ul>

          <ul class="navbar-nav" *ngIf="!account.user">
            <li class="nav-item float-right">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item float-right">
              <a class="nav-link" routerLink="/signup">Sign Up</a>
            </li>
          </ul>
          
          <ul class="navbar-nav" *ngIf="account.user">
            <li class="nav-item float-right">
              <a class="nav-link" routerLink="/account">Hello {{ account.user.username }}</a>
            </li>
            <li class="nav-item float-right">
              <a class="nav-link" (click)="account.logout()">Logout</a>
            </li>
          </ul>

        </div>
      </nav>

    </div>
  </div>

  <div id="content" class="row">
    <div class="col-md-10 offset-md-1">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>