

<div id="chat_area" class="row">
  <div class="card" #scrollMe>
    <div class="card-header">
      Messages
    </div>
    <div class="card-block">
      <p *ngFor="let message of chat.messages">
        {{ message.message }}
      </p>
      <p *ngIf="chat.messages.length == 0">
        No Messages To Display
      </p>
    </div>
  </div>
</div>

<div id="chat_input" class="row">
  <div class="input-group">
    <input type="text" class="form-control" (keydown.enter)="sendMessage()"
        placeholder="Enter message" [(ngModel)]="message">
    <span class="input-group-btn" style="padding-left: 10px">
      <button class="btn btn-primary" type="submit" (click)="sendMessage()">Send</button>
    </span>
  </div>
</div>