
#chat_area .card {
    height: 650px;
    width: 100%;
}

#chat_area .card #messageBlock {
    overflow-y: auto;
    padding-bottom: 25px;
}

#chat_input {
    margin-top: 15px;
}

#messageBlock p {
    margin-bottom: 5px;
}

#chat_guests .card {
    height: 650px;
    width: 100%;
}